<nav *ngIf="auth.isAdminHere()" class="navbar navbar-expand-md navbar-light mb-3">
    <div class="container-fluid">
        <a routerLink="/nova" class="navbar-brand">
            <img src="../../../assets/icon.png" width="34" height="34" alt="" class="mb-2">
            <span>Re</span>cAPPture
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain">
            <i class="fa fa-navicon"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarMain">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mr-3 mt-1">
                    <form class="form-inline">
                        <input class="form-control mr-sm-2" [(ngModel)]="searchMail" name="searchMail" type="search" placeholder="Vnesi email" aria-label="Search">
                        <button class="btn my-2 my-sm-0" (click)="findUser()" style="color: white; background-color: #808080;" type="submit">Najdi</button>
                    </form>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                    <a routerLink="/nova" class="nav-link">Nova</a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                    <a routerLink="/cakajoca" class="nav-link">Čakajoča</a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                    <a routerLink="/zavrnjena" class="nav-link">Zavrnjena</a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                        <a routerLink="/koncana" class="nav-link">Končana</a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                        <a (click)="auth.signOut()" class="nav-link">Odjava</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

