<div *ngIf="auth.isAdminHere() | async; else guest"></div>

<ng-template #guest>
        <div class="col-12" style="height: 100vh; display: flex; justify-content: center; align-items: center;">
                <div class="text-center">
                        <img src="../../../assets/icon.png" style="height: 300px;" alt="">
                        <div style="height: 100px;"></div>
                        <button class="btn" style="background-color: #bad12f; color: white; font-size: 30px;" (click)="auth.googleSignin()">
                            <i class="fa fa-google"></i>    Prijava
                        </button>
                        <br>
                        <br>
                        <h4 *ngIf="auth.error">Uporabljeni Gmail račun nima administatorskih pravic!</h4>
                </div>
        </div>
</ng-template>

