<div *ngIf="auth.isAdminHere(); else guest"></div>

<ng-template #guest>
        <div class="col-12" style="height: 100vh; display: flex; justify-content: center; align-items: center;">
                <div class="text-center">
                        <img src="../../../assets/icon.png" style="height: 300px;" alt="">
                        <div style="height: 100px;"></div>
                        <button class="btn btn-outline-dark" style="background-color: white; border-color:#bad12f; color: #bad12f; font-size: 30px;" (click)="auth.googleSignin()">
                            <i class="fa fa-google" style="color: #bad12f;"></i>    Prijava
                        </button>
                </div>
        </div>
</ng-template>

