<app-loading-animation *ngIf="loading"></app-loading-animation>

<div class="row ml-1 mr-1">
  <div *ngFor="let order of orders" class="col-xl-2 col-md-3 col-sm-6 col-xs-8 mb-3">
    <div class="card h-100">
      <img class="card-img-top" style="height: 238px; object-fit: cover;" src="{{ order.images[0].link }}">
      <div class="card-body">
        <h5 class="card-title">Naročilo {{ order.id }}</h5>
        <p class="card-text">
          <b>Vrsta lesa:</b> {{ orderService.getWoodType(order.wood_type) }}
          <br>
          <b>Količina:</b> {{ order.kub }} m<sup>3</sup>
        </p>
        <button [routerLink]="['/narocilo', order.id]" class="btn btn-block"
          style="background-color: #bad12f; color: white;" type="submit">Podrobnosti</button>
      </div>
    </div>
  </div>
</div>

<nav *ngIf="!loading && orders != null; else noOrders" aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" (click)="prevPage()" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li *ngFor="let page of getPages()" [ngClass]="{active: getCurrentPage() === page}" class="page-item"><a class="page-link" (click)="getPage(page)">{{ page }}</a></li>
    <li class="page-item">
      <a class="page-link" (click)="nextPage()" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>

<ng-template #noOrders>
  <div class="d-flex justify-content-center" style="align-items: center; height: 80vh;">
      <h2 style="color: #808080;">{{ showEmptyText() }}</h2>
  </div>
</ng-template>